

.error {
 color: #ff0000;
}

.errorblock {
    color: #000;
    background-color: #ffEEEE;
    border: 3px solid #ff0000;
    padding: 8px;
    margin: 16px;
}

#logoDiv {
    text-align: center;
}

#logoDiv img {
    width: 150px;
}

#sendUrl {
    margin-top: 2%;
}

#codeDiv {
    background-color: gold;
    border-radius: 20px;
    text-align: center;
    height: 50px;
    padding-top: 15px;
    margin-bottom: 2%;
}
